@using Web_RailWay.App_LocalResources;
@using Web_RailWay.App_Code;

@section Document {

}

@section Admin {

}

@{
    ViewBag.Title = @LogResource.log_services_report_title;
    ViewBag.Home = @LogResource.log_services_report_home;
}
@Scripts.Render("~/bundles/Ajax")
@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/jquery-ui/css")
@Scripts.Render("~/bundles/jquery-ui")

@Styles.Render("~/datetime/css")
@Scripts.Render("~/bundles/datetime")

@Styles.Render("~/DataTables/css")
@Scripts.Render("~/bundles/DataTables")

<script src="~/Scripts/jquery.cookie.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Services/services.css">
<script src="~/Scripts/Services/services.js" type="text/javascript"></script>
<script src="~/Scripts/api_helpers/logs.js" type="text/javascript"></script>
<script src="~/Scripts/api_helpers/settings.js" type="text/javascript"></script>

<div id="report" class="report-wide">
    <div id="header">
        <div class="title">@ViewBag.Title</div>
        <div id="select-rangedatetime">
            @Html.Label(@GlobalResources.select_date_range_title, new { @class = "title-label" })
            <span id="select-range">
                <input id="date-start" name="date_start" size="20"> @Html.Label(@GlobalResources.to, new { @class = "title-label" })
                <input id="date-stop" name="date_stop" size="20">
            </span>
        </div>

    </div>
    <div id="report-detali">
        <table class='display' id="services-table">
            <thead>
                <tr>
                    <th>@LogResource.log_services_name</th>
                    <th>@LogResource.log_services_start</th>
                    <th>@LogResource.log_services_execution</th>
                    <th>@LogResource.log_services_current</th>
                    <th>@LogResource.log_services_max</th>
                    <th>@LogResource.log_services_min</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div id="tabs-log" style="float: left; width:95% ">
            <ul>
                <li><a href="#tabs1">@LogResource.log_tab_title_services</a></li>
                <li><a href="#tabs2">@LogResource.log_tab_title_errors</a></li>
                <li><a href="#tabs3">@LogResource.log_tab_title_event</a></li>
                <li><a href="#tabs4">@LogResource.log_tab_title_setup</a></li>
            </ul>
            <div id="tabs1" style="text-align:left">
                <table class='display compact' id="table-log-services" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>@LogResource.log_services_name</th>
                            <th>@LogResource.log_services_start</th>
                            <th>@LogResource.log_services_duration</th>
                            <th>@LogResource.log_services_code_return</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="tabs2" style="text-align:left">
                <table class='display compact' id="table-log-errors" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>@LogResource.log_datetime</th>
                            <th>@LogResource.log_errors_datetime_user_message</th>
                            <th>@LogResource.log_services_name</th>
                            <th>@LogResource.log_eventID</th>
                            <th>HResult</th>
                            <th>InnerException</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="tabs3" style="text-align:left">
                <table class='display compact' id="table-log-events" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>@LogResource.log_datetime</th>
                            <th>@LogResource.log_services_name</th>
                            <th>@LogResource.log_eventID</th>
                            <th>@LogResource.log_events_event</th>
                            <th>@LogResource.log_events_status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="tabs4" style="text-align:left">
                <table class='display compact' id="table-setup" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>@LogResource.log_services_name</th>
                            <th>@LogResource.setting_description</th>
                            <th>@LogResource.setting_key</th>
                            <th>@LogResource.setting_value</th>
                            <th>@LogResource.setting_type</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="cls"></div>
    </div>
</div>


