@using Web_RailWay.App_LocalResources;

@{
    Layout = "~/Views/Shared/_RailWay.cshtml";
    ViewBag.Title = @TDResource.index_report_marriage_work_desc;
    ViewBag.Home = @TDResource.index_report_marriage_work_title;
}

@section Document {

}

@section Admin {
    @{ Html.RenderAction("Index", "Admin", new { area = "TD" }); }
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/reports.css">
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/datetime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/TD/marriage_work.css">
}

@section scripts {
    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/datetime")
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/Shared/common.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/dt.js" type="text/javascript"></script>
    <script src="~/Scripts/TD/marriage_work.js" type="text/javascript"></script>
    <script>
        $('header').addClass('img-header-td');
    </script>
}

<input id="username" type="hidden" value="@User.Identity.Name" />

<div id="report" class="report-wide">
    <div id="tabs-reports">
        <ul>
            <li><a href="#tab-report-1" id="link-tab-report-1"></a></li>
            <li><a href="#tab-report-2" id="link-tab-report-2"></a></li>
        </ul>
        <div id="tab-report-1">
            <div id="table-panel"></div>
            <p class="messageTips"></p>
            <table class='display compact' id="table-report-1" style="width:100%" cellpadding="0"></table>
        </div>
        <div id="tab-report-2">
            <table class='display compact' id="table-report-2" style="width:100%" cellpadding="0"></table>
        </div>
    </div>
</div>

