@using Web_RailWay.App_LocalResources;
@using Web_RailWay.App_Code;

@{
    Layout = "~/Views/Shared/_RailWay.cshtml";
    ViewBag.Title = @KISResource.index_report_arrival_sending_desc;
    ViewBag.Home = @KISResource.index_report_arrival_sending_title;
}

@section Document {

}

@section Admin {
    @{ Html.RenderAction("LinkKISControl", "Home", new { area = "KIS" }); }
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/reports.css">
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/datetime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/KIS/turnover.css">
}

@section scripts {
    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/datetime")
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/Shared/common.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/railway.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/kis.js" type="text/javascript"></script>
    <script src="~/Scripts/KIS/turnover.js" type="text/javascript"></script>
    <script>
        $('header').addClass('img-header-kis');
    </script>
}

<div id="report" class="report-wide">
    <div id="header">
        <div class="title">@ViewBag.Title</div>
        <div id="select-rangedatetime">
            <label id="label-select-date-range" class="title-label"></label>
            <span id="select-range">
                <input id="date-start" name="date_start" type="datetime" size="20">
                <label id="label-to" class="title-label"></label>
                <input id="date-stop" name="date_stop" type="datetime" size="20">
            </span>
        </div>
        @*<button class="ui-button ui-widget ui-corner-all" id="to-excel"> </button>*@
    </div>
    <div id="report-detali">
        <div id="tabs-report-turnover">
            <ul>
                <li><a href="#tabs-operations-1" id="link-tabs-turnover-1"></a></li>
                @*<li><a href="#tabs-operations-2" id="link-tabs-turnover-2"></a></li>
                <li><a href="#tabs-operations-3" id="link-tabs-turnover-3"></a></li>*@
            </ul>
            <div id="tabs-turnover-1">
                <table class='display compact' id="table-list-turnover" style="width:100%" cellpadding="0"></table>
            </div>
            @*<div id="tabs-operations-2">
                <table class='display compact' id="table-cargo-disl-operations" style="width:100%" cellpadding="0"></table>
            </div>
            <div id="tabs-operations-3">
                <table class='display compact' id="table-cargo-car-operations" style="width:100%" cellpadding="0"></table>
            </div>*@
        </div>

    </div>
    <div id="cls"></div>
</div>
