@using Web_RailWay.App_LocalResources;
@using Web_RailWay.App_Code;
@using EFKIS.Entities;

@model BufferArrivalSostav
<table class="table-bordered table-hover table-striped" id="table-detali">
    <thead>
        <tr>
            <th>@KISResource.kis_report_field_car</th>
            <th>@KISResource.kis_report_field_car_set</th>
            <th>@KISResource.kis_report_field_car_upd</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.list_wagons != null)
        {
            foreach (string car in @Model.list_wagons.Split(';'))
            {
                if (!String.IsNullOrWhiteSpace(@car))
                {
                    string set = Html.GetStatusSetCars(@car, @Model.list_no_set_wagons).ToString();
                    string upd = Html.GetStatusUpdateCars(@car, @Model.message).ToString();
                    string upd_td = upd == "Ok" ? upd : "Error";
                    <tr>
                        <td>
                            <a id='@car' name="car" href="#">@car</a>
                        </td>
                        <td class='@set'>@set</td>
                        <td class='@upd_td'>@upd</td>
                    </tr>
                }
            }
        }
    </tbody>  
</table>
