@using Web_RailWay.App_LocalResources;
@using Web_RailWay.App_Code;
@using EFKIS.Entities;

@model List<BufferArrivalSostav>
<table class="row-border order-column" id="list-buffer-arrival-sostav" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @KISResource.kis_report_field_natur
            </th>
            <th>
                @KISResource.kis_report_field_datetime
            </th>
            <th>
                @KISResource.kis_report_field_arrival_station
            </th>
            <th>
                @KISResource.kis_report_field_arrival_way
            </th>
            <th>
                @KISResource.kis_report_field_arrival_napr
            </th>
            <th>
                @KISResource.kis_report_field_arrival_wagons
            </th>
            <th>
                @KISResource.kis_report_field_arrival_nathist
            </th>
            <th>
                @KISResource.kis_report_field_status
            </th>
            <th>
                @KISResource.kis_report_field_arrival_close
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (BufferArrivalSostav sostav in @Model)
        {
            Html.RenderAction("BufferArrivalSostav", "KIST", new { bas = @sostav });
        }
    </tbody>
</table>
