@using Web_RailWay.App_LocalResources;
@using Web_RailWay.App_Code;

@section Document {

}

@section Admin {
    @{ Html.RenderAction("LinkKISControl", "KIS"); }
}


@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        OnSuccess = "selectPeriod",
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnComplete = "OnComplete"
    };
    ViewBag.Title = @KISResource.kis_trnsfer_arrival_report_title;
    ViewBag.ImageFone = "background-image: url(../Image/header1.jpg);";
    ViewBag.Home = @KISResource.kis_trnsfer_arrival_report_home;
}
@Scripts.Render("~/bundles/Ajax")
@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/datetime/css")
@Scripts.Render("~/bundles/datetime")

@Styles.Render("~/jquery-ui/css")
@Scripts.Render("~/bundles/jquery-ui")

@Styles.Render("~/DataTables/css")
@Scripts.Render("~/bundles/DataTables")
<script src="~/Scripts/jquery.cookie.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/dropdownlist.css">
<link rel="stylesheet" type="text/css" href="~/Content/reports.css">
<div id="report" class="report-wide">
    <div id="header">
        <div class="title">@ViewBag.Title</div>

        @using (Ajax.BeginForm("ListBufferArrivalSostavOfDate", "KIST", ajaxOpts, new { @id = "fmList" })) //
        {
            <div id="select-rangedatetime">
                @Html.Label(@GlobalResources.select_date_range_title, new { @class = "title-label" })
                <span id="select-range">
                    <input id="date-start" name="date_start" size="20"> 
                    @Html.Label(@GlobalResources.to, new { @class = "title-label" })
                    <input id="date-stop" name="date_stop" size="20">
                </span>
            </div>
        }
        @*@Html.Label(@MTResource.link_approaches, new { @class = "title-label" })&nbsp;
        <a href='@Url.Action("Sostav", "MTApproaches")' class="btn btn-link">@MTResource.index_report_approaches_sostav_title</a>
        <a href='@Url.Action("Cars", "MTApproaches")' class="btn btn-link">@MTResource.index_report_approaches_cars_title</a>
        &nbsp;@Html.Label(@MTResource.link_arrival, new { @class = "title-label" })&nbsp;
        <a href='@Url.Action("Sostav", "MTArrival")' class="btn btn-link">@MTResource.index_report_arrival_sostav_title</a>
        <a href='@Url.Action("Cars", "MTArrival")' class="btn btn-link">@MTResource.index_report_arrival_cars_title</a>*@
    </div>
    
    <div id="report-table">

    </div>    
    <div id="report-detali">
    </div>
    <div id="cls"></div>
</div>
<script src="~/Scripts/reports/kis/kistransferarrival.js"></script>

