@using Web_RailWay.App_LocalResources;
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Creative/css")
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
</head>
<body id="page-top">
    <link rel="stylesheet" type="text/css" href="~/Content/lockpanel/lockpanel.css">
    <script src="~/Scripts/lockpanel/lockpanel.js"></script>
    <div id="lockPanel" class="LockOff"></div>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">@ViewBag.Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="toggle-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @using (Html.BeginForm("ChangeCulture", "Home"))
                        {
                            @Html.RouteLink("RU", new
                            {
                                controller = "Home",
                                action = "ChangeCulture",
                                lang = "ru"
                            }, new { @class = "ru-RU" == @GlobalResources.lang ? "select-lang" : "select-not-lang" })
                            @Html.RouteLink("EN", new
                            {
                                controller = "Home",
                                action = "ChangeCulture",
                                lang = "en"
                            }, new { @class = "en-US" == @GlobalResources.lang ? "select-lang" : "select-not-lang" })
                            @Html.RouteLink("UK", new
                            {
                                controller = "Home",
                                action = "ChangeCulture",
                                lang = "uk"
                            }, new { @class = "uk-UA" == @GlobalResources.lang ? "select-lang" : "select-not-lang" })
                        }
                    </li>
                    <li>
                        <a class="page-scroll" href="#rep">@GlobalResources.Layout_rw_link_reports</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#doc">@GlobalResources.Layout_rw_link_instructions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#admin">@GlobalResources.Layout_rw_link_admins</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">@GlobalResources.Layout_rw_link_contacs</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header style="@ViewBag.ImageFone">
        <div class="header-content">
            <div class="header-content-inner">
                @RenderBody()
            </div>
        </div>
    </header>

    <section class="bg-primary" id="rep">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>@GlobalResources.rw_title_report_mt</h2>
                    <p>
                        @GlobalResources.rw_title_report_mt_desc
                    </p>
                    <p>@Html.ActionLink(@GlobalResources.rw_report_link, "index", "MetallurgTrans", new { area = "" }, new { @class = "btn btn-primary1" })</p>
                </div>
                <div class="col-md-4">
                    <h2>@GlobalResources.rw_title_report_rw</h2>
                    <p>
                        @GlobalResources.rw_title_report_rw_desc
                    </p>
                    <p><a class="btn btn-primary1" href="#">@GlobalResources.rw_report_link</a></p>
                </div>
                <div class="col-md-4">
                    <h2>@GlobalResources.rw_title_report_kis</h2>
                    <p>
                        @GlobalResources.rw_title_report_kis_desc
                    </p>
                    <p>
                        @Html.ActionLink(@GlobalResources.rw_report_link, "Index", "Wagons", new { area = "" }, new { @class = "btn btn-primary1" })
                </p>
            </div>
        </div>
    </div>
    @*<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Основные отчеты</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row no-gutter">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <th>Группа отчетов</th>
                    <th>Название отчета</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>"МеталлургТранс"</td>
                            <td>Информация по прибытию составов на станциях Кривого Рога</td>
                        </tr>
                        <tr>
                            <td>Система КИС</td>
                            <td>Информация по прибытию составов на АМКР</td>
                        </tr>
                        <tr>
                            <td>Система КИС</td>
                            <td>Информация по движению составов на АМКР</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading m-3t">Дополнительная информация</h2>
                    <hr class="primary">
                </div>
                <table class="table table-responsive table-bordered">
                    <thead>
                    <th>Группа</th>
                    <th>Информация</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Общая</td>
                            <td>Статистика посещения Web-приложения</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@

</section>
    <section id="doc">
        <div class="container">
            <div class="row m-3t">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">@GlobalResources.Layout_rw_title_instructions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        @*@RenderSection("Document", true)*@
        @*<div class="container">
                <p class="example-heading">Инструкция 1</p>
                <div class="row">
                </div>
                <hr>
                <div class="row m-3t">
                    <p class="example-heading">Инструкция 2</p>
                </div>
                <hr>
                <div class="row m-3t">
                    <p class="example-heading">Инструкция 3</p>
                </div>
            </div>*@
    </section>
    <section id="admin" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">@GlobalResources.Layout_rw_title_admins</h2>
                    <hr class="light">
                </div>
            </div>
            @*@RenderSection("Admin", true)*@
            @*<div class="row m-3t">
                    <div class="col-md-4 text-center">
                        <div class="service-box">
                            <i class="fa fa-users fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>@Html.ActionLink("Контроль доступа", "List", "MT")</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="service-box">
                            <i class="fa fa-cog fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                            <p>@Html.ActionLink("Управление службами", "Index", "Admin")</p>

                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="service-box">
                            <i class="fa fa-copy fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                            <p>@Html.ActionLink("Справочная информация", "Index", "Admin")</p>
                        </div>
                    </div>
                </div>
                @*<div class="row m-3t">
                        <div class="col-md-4 text-center">
                            <div class="service-box">
                                <i class="fa fa-file-picture-o fa-3x wow bounceIn" data-wow-delay=".4s"></i>
                                <h4>Works with Bootstrap</h4>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="service-box">
                                <i class="fa fa-cog fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                                <h4>Easy methods and options</h4>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="service-box">
                                <i class="fa fa-tag fa-3x wow bounceIn" data-wow-delay=".6s"></i>
                                <h4>Preselect multiple values</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3t">
                        <div class="col-md-4 text-center">
                            <div class="service-box">
                                <i class="fa fa-keyboard-o fa-3x wow bounceIn" data-wow-delay=".7s"></i>
                                <h4>Delete Key Support</h4>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="service-box">
                                <i class="fa fa-arrows fa-3x wow bounceIn" data-wow-delay=".8s"></i>
                                <h4>Multiple Direction Popovers</h4>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="service-box">
                                <i class="fa fa-code fa-3x wow bounceIn" data-wow-delay=".9s"></i>
                                <h4>MIT Licensed, Open Source</h4>
                            </div>
                        </div>
                    </div>*@
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">@GlobalResources.Layout_rw_title_contacs</h2>
                    <hr class="primary">
                    <p>@GlobalResources.Layout_rw_title_contacs_deverl</p>
                </div>
            </div>
            <div class="row m-3t">
                <div class="col-lg-4 text-center">
                    <div class="row">
                        @*<div class="col-xs-12">
                                <a href="https://twitter.com/" title="FED Pune" target="_blank">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x text-white wow bounceIn"></i>
                                    </span>
                                </a>
                            </div>*@
                        <div class="col-xs-12 m-3t">
                            <a href="mailto:Eduard.Levchenko@arcelormittal.com" title="@GlobalResources.Layout_rw_title_contacs_deverl_name">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x text-white wow bounceIn"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center" itemscope itemtype="http://schema.org/Person">
                    <div class="row">
                        <div class="col-xs-12">
                            <img width="221" height="221" class="img-circle" src="/Image/Levchenko.JPG" alt="@GlobalResources.Layout_rw_title_contacs_deverl_name">
                        </div>
                        <div class="col-xs-12 text-center m-t-xs">
                            <h4 itemprop="name" class="text-uppercase text-muted">@GlobalResources.Layout_rw_title_contacs_deverl_name</h4>
                            <div style="display:none">
                                <p itemprop="jobTitle">@GlobalResources.Layout_rw_title_contacs_deverl_post</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="http://krr-www-parep01.europe.mittalco.com/" rel="author" title="@GlobalResources.Layout_rw_web_dpa">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-globe fa-stack-1x text-white bounceIn wow"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-xs-12 m-3t">
                            <a href="https://github.com/ealevchenko" title="github.com/ealevchenko">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x text-white bounceIn wow"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Bootstrap Core JavaScript -->
@Scripts.Render("~/bundles/bootstrap")

<!-- Plugin JavaScript -->
<!--плагин jQuery для создания характеристик перехода анимации в стиле CSS3-->
@Scripts.Render("~/bundles/easing")
@*<script src="~/Scripts/jquery.easing.min.js"></script>*@
<!--JQuery-плагин, который автоматически делает текст по ширине родительского элемента-->
@Scripts.Render("~/bundles/fittext")
@*<script src="~/Scripts/jquery.fittext.js"></script>*@
<!--Анимация прокрутки +animate.min.css-->
@Scripts.Render("~/bundles/wow")
@*<script src="~/Scripts/wow.min.js"></script>*@
<!-- Custom Theme JavaScript -->
@Scripts.Render("~/bundles/creative")
@*<script src="~/Scripts/creative.js"></script>*@


</body>
</html>
