@using Web_RailWay.App_LocalResources;
@using Web_RailWay.App_Code;

@{
    Layout = "~/Views/Shared/_RailWay.cshtml";
    ViewBag.Title = @RWResource.index_report_vagon_search_desc;
    ViewBag.Home = @RWResource.index_report_vagon_search_title;
}

@section Document {

}

@section Admin {
    @{ Html.RenderAction("LinkKISControl", "Home", new { area = "KIS" }); }
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/reports.css">
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DataTables/css")
    <link rel="stylesheet" type="text/css" href="~/Content/RW/vagon.css">
}

@section scripts {
    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/Shared/common.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/railway.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/railway_reference.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/railway_operation.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/kis.js" type="text/javascript"></script>
    <script src="~/Scripts/RW/vagon.js" type="text/javascript"></script>
    <script>
        $('header').addClass('img-header-rw');
    </script>
}

<div id="report" class="report-wide">
    <div id="header">
        <div class="title">@ViewBag.Title</div>
        <div id="select-vagon">
            <label for="vagon" id="label-select-vagon" class="title-label"></label><input id="vagon" name="value" type="number" size="10">
            @*<label for="day" id="label-select-day" class="title-label"></label><input id="day" name="value" type="number" size="5">
                <label for="month" id="label-select-month" class="title-label"></label><input id="month" name="value" type="number" size="5">
                <label for="year" id="label-select-year" class="title-label"></label><input id="year" name="value" size="5">
                <label for="hour" id="label-select-hour" class="title-label"></label><input id="hour" name="value" size="5">
                <label for="minute" id="label-select-minute" class="title-label"></label><input id="minute" name="value" size="5">*@
            <button class="ui-button ui-widget ui-corner-all" id="search"></button>
        </div>
        @*<button class="ui-button ui-widget ui-corner-all" id="to-excel"> </button>*@
    </div>
    <div id="report-detali">
        <div id="tabs-report-vagons">
            <ul>
                <li><a href="#tabs-history" id="link-tabs-history"></a></li>
                <li><a href="#tabs-info" id="link-tabs-info"></a></li>
            </ul>
            <div id="tabs-history">
                <div id="accordion-history-car">
                    <h3>Car</h3>
                    <div>
                        <table class='compact table-cars cell-border' id="table-list-history-car" cellpadding="0" style="width:2000px"></table>
                    </div>
                </div>
                <div id="accordion-history-sap">
                    <h3>SAP</h3>
                    <div>
                        <fieldset style="float: left; margin-left:10px;">
                            <legend>Входящие поставки</legend>
                            <div id="history-car-sap-inp">
                            </div>
                        </fieldset>
                        <fieldset style="float: left; margin-left:10px;">
                            <legend>Исходящие поставки</legend>
                            <div id="history-car-sap-out">
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="accordion-history-arrival">
                    <h3>Arrival</h3>
                    <div>
                        @*<table class='compact table-cars cell-border' id="table-list-nathist" cellpadding="0"></table>*@
                    </div>
                </div>
            </div>
            <div id="tabs-info">
                @*<table class='display compact' id="table-cargo-disl-operations" style="width:100%" cellpadding="0"></table>*@
            </div>
        </div>
    </div>
    <div id="cls"></div>
</div>

<div id="delete-confirm" title="" style="display:none">
    <form id="form-delete-confirm">
        <fieldset>
            <p>
                <label id="delete-comment"></label><br>
            </p>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>



