@using Web_RailWay.App_LocalResources;
@using Web_RailWay.App_Code;

@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        OnSuccess = "selectPeriod",
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnComplete = "OnComplete"
    };
    ViewBag.Title = @MTResource.mt_approaches_sostsv_report_title;
    ViewBag.ImageFone = "background-image: url(../Image/header1.jpg);";
    ViewBag.Home = @MTResource.mt_approaches_sostsv_report_home;
}
@Scripts.Render("~/bundles/Ajax")
@Scripts.Render("~/bundles/jqueryval")
<link rel="stylesheet" type="text/css" href="~/Content/dropdownlist.css">
<script src="~/Scripts/jquery.cookie.js"></script>
<script>$.cookie('view-cars', '0');</script>
<div id="report" class="report-wide">
    <div id="header">
        <div class="title">@ViewBag.Title</div>
        @Styles.Render("~/datetime/css")
        @Scripts.Render("~/bundles/datetime")
        @using (Ajax.BeginForm("ListSostav", "MTApproaches", ajaxOpts, new { @id = "fmList" })) //
        {
            <div id="select-rangedatetime">
                @Html.Label(@GlobalResources.select_station)
                @{ int[] station = new int[] { 467004, 467201 }; }
                @Html.DropDownList("station", station.ToList().GetSelectListItem(ViewReferenceHelpers.GetReferenceStationsOfCodecs, @GlobalResources.all_stations, (int)@ViewBag.station), new { @id = "soflow", @onchange = "$('form#fmList').submit();" })
                @Html.Label(@GlobalResources.select_date_range_title)
                <span id="select-range">
                    <input id="date-start" name="date_start" size="20" > до
                    <input id="date-stop" name="date_stop" size="20" >
                </span>
            </div>
        }
    </div>
    <link rel="stylesheet" type="text/css" href="~/Content/reports.css">
    <div id="report-menu">

    </div>
    <div id="report-menu-content">
        <div id="report-location">

        </div>
        <div id="report-location-content">

        </div>
    </div>
    <div id="cls"></div>


</div>
<script src="~/Scripts/reports/mt/mtapproachessostav.js"></script>



