@using Web_RailWay.App_LocalResources;
@using Web_RailWay.App_Code;

@{
    Layout = "~/Views/Shared/_RailWay.cshtml";
    ViewBag.Title = @MTResource.index_report_cars_amkr_db_desc;
    ViewBag.Home = @MTResource.index_report_cars_amkr_db_title;
}

@section Document {

}

@section Admin {
    @{ Html.RenderAction("LinkAdmin", "Home", new { area = "" }); }
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/reports.css">
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/datetime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/MT/wagons_tracking.css">
}

@section scripts {
    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/datetime")
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/Shared/common.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/metallurgtrans.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/railway.js" type="text/javascript"></script>
    <script src="~/Scripts/MT/wagons_tracking_arhiv.js" type="text/javascript"></script>
    <script>
        $('header').addClass('img-header-mt');
    </script>
}

<div id="report" class="report-wide">
    <div id="header">
        <div class="title">@ViewBag.Title</div>
    </div>
    <div id="report-detali">
        <div id="tabs-report">
            <ul>
                <li><a href="#tabs-1" id="link-tabs-1"></a></li>
                @*<li><a href="#tabs-2" id="link-tabs-2"></a></li>
                <li><a href="#tabs-3" id="link-tabs-3"></a></li>
                <li><a href="#tabs-4" id="link-tabs-4"></a></li>
                <li><a href="#tabs-5" id="link-tabs-5"></a></li>*@
            </ul>
            <div id="tabs-1">
                <table class='display compact' id="table-list-wagons-tracking" style="width:100%" cellpadding="0"></table>
            </div>
            @*<div id="tabs-2">
                <table class='display compact' id="table-list-wagons-tracking-disl" style="width:100%" cellpadding="0"></table>
            </div>
            <div id="tabs-3">
            </div>
            <div id="tabs-4">
            </div>
            <div id="tabs-5">
            </div>*@
        </div>
    </div>
    <div id="cls"></div>
</div>










