@using Web_RailWay.App_Code;
@using Web_RailWay.App_LocalResources;
@using EFMT.Entities;
@using EFMT.Concrete;

@model ArrivalSostav
<div id="report-select-detali">
    @using (Ajax.BeginForm("DetaliSostavOperation", "MTArrival"
    , new AjaxOptions
    {
        Url = Url.Action("DetaliSostavOperation",
        new { idSostav = @Model.ID }),
        OnSuccess = "detaliSostavOperation",
        LoadingElementDuration = 1000,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnComplete = "OnComplete",
    }
    , new { @id = "fmDetali" })) //
    {
        @Html.DropDownList("view_cars", ViewMTHelpers.GetViewCars((int)@ViewBag.view_cars), new { @id = "soflow" })
        Html.RenderAction("ButtonCloseArrivalCar", "MTArrival", new { id_sostav = @Model.ID, id = 0 });
        @*<input id="manual-arrival" type="button" value='@GlobalResources.button_title_close_all' />*@
    }
</div>
<table class="table" id="sostav-arrival">
    <tr>
        <th>@MTResource.mt_report_field_index:</th>
        <td>
            @*@if (@Html.IsApproachesSostavOfIndex(@Model.CompositionIndex))
                {
                    @Html.RouteLink(Model.CompositionIndex.ToString(),
                         new { controller = "MTApproaches", action = "ListIndex", index = (string)@Model.CompositionIndex },
                              new { @onclick = "LockScreen('" + @GlobalResources.lock_text + "');", @title = @MTResource.link_title_go_approaches_index });
                }
                else
                { @Model.CompositionIndex }*@
            @Model.CompositionIndex
        </td>
        <th>@MTResource.mt_report_field_code_station_from:</th>
        <td>@Html.GetMTStationFromOfIndex((string)@Model.CompositionIndex)</td>
        <th>@MTResource.mt_report_field_code_station_on:</th>
        <td>@Html.GetMTStationOnOfIndex(@Model.CompositionIndex)</td>
    </tr>
    <tr>
        <th>@MTResource.mt_report_field_date_operation:</th>
        <td>@Model.DateTime - @Html.GetMTOperations(Model.Operation)</td>
        <th>@MTResource.mt_report_field_num_train:</th>
        <td>@Html.GetMTArrivalTrain(Model.ID)</td>
        <th>@MTResource.mt_report_field_countvag_countamkr:</th>
        <td>@Model.ArrivalCars.ToList().Count() (@Html.GetCountMTArrivalCarsAMKR(Model.ID, EFMT.Concrete.mtConsignee.AMKR))</td>
    </tr>
    <tr>
        <th>@MTResource.mt_report_field_xml_file:</th>
        <td>@Model.FileName</td>
        <th>@MTResource.mt_report_field_create:</th>
        <td>@Model.Create</td>
        <th>@MTResource.mt_report_field_close:</th>
        <td>@Model.Close</td>
    </tr>
</table>
<table class="table" id="cars-arrival">
    <thead>
        <tr>
            <th>
                @MTResource.mt_report_field_npp
            </th>
            <th>
                @MTResource.mt_report_field_num_wag
            </th>
            <th>
                @MTResource.mt_report_field_country
            </th>
            <th>
                @MTResource.mt_report_field_weight
            </th>
            <th>
                @MTResource.mt_report_field_cargo_code
            </th>
            <th>
                @MTResource.mt_report_field_code_station_on
            </th>
            <th>
                @MTResource.mt_report_field_consignee
            </th>
            <th>
                @MTResource.mt_report_field_doc_arrival
            </th>
            <th>
                @MTResource.mt_report_field_data_arrival
            </th>
            <th>
                @MTResource.mt_report_field_data_user_name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ArrivalCars cars in Model.ArrivalCars.ToList())
        {
            if (@ViewBag.view_cars == 0 ||
                (@ViewBag.view_cars == 1 & cars.Consignee.IsConsigneeAMKR()) ||
                (@ViewBag.view_cars == 2 & cars.Consignee.IsConsigneeAMKR() & cars.NumDocArrival > 0) ||
                (@ViewBag.view_cars == 3 & cars.Consignee.IsConsigneeAMKR() & cars.NumDocArrival == null))
            {
                <tr class='@Html.GetStatusMTArrivalCars(@cars.Consignee, @cars.NumDocArrival)'>
                    <td>
                        @cars.Position
                    </td>
                    <td>
                        @cars.Num
                    </td>
                    <td>
                        @Html.GetReferenceCountryOfCountryCode(@cars.CountryCode)
                    </td>
                    <td>
                        @cars.Weight
                    </td>
                    <td>
                        @Html.GetReferenceCargoOfCode(@cars.CargoCode)
                    </td>
                    <td>
                        @Html.GetReferenceStationsOfCodecs(@cars.StationCode)
                    </td>
                    <td>
                        @Html.GetMTConsignee(@cars.Consignee) (@Html.DisplayFor(modelItem => @cars.Consignee))
                    </td>
                    <td>
                        @if (@cars.NumDocArrival == null || @cars.NumDocArrival > 0)
                        {
                            if (@cars.NumDocArrival == null & cars.Consignee.IsConsigneeAMKR())
                            {
                                { Html.RenderAction("ButtonCloseArrivalCar", "MTArrival", new { id_sostav = @Model.ID, id = @cars.ID }); }

                            }
                            else
                            { @cars.NumDocArrival}
                        }
                        else
                        {
                            @Html.GetMTNumDocArrival((int)@cars.NumDocArrival)
                        }
                    </td>
                    <td>
                        @cars.Arrival
                    </td>
                    <td>
                        @cars.UserName
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    // Определим событие для сохрангения выбора в куках
    $(document).ready(function () {
        $('form#fmDetali select').on("change", function () {
            var val = $(this).val();
            $.cookie('view-cars', val);
            $('form#fmDetali').submit();
        });
    });

</script>
