@using Web_RailWay.App_Code;
@using Web_RailWay.App_LocalResources;
@using EFMT.Entities;
@using EFMT.Concrete;
@using Web_RailWay.App_Code;

@model ArrivalSostav
<div id="report-select-detali">
    @Ajax.ActionLink(@MTResource.mt_link_all
    , "DetaliSostavOperation"
    , new { idSostav = @Model.ID, cars = 0 }
    , new AjaxOptions
    {
        Url = Url.Action("DetaliSostavOperation",
        new { idSostav = @Model.ID, cars = 0 }),
        OnSuccess = "detaliSostavOperation",
        LoadingElementDuration = 1000,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
    }
    , new { @id = "a-select-cars", @href = "#", @class = @ViewBag.cars == 0 ? "selected" : "" })

    @Ajax.ActionLink(@MTResource.mt_link_amkr
    , "DetaliSostavOperation"
    , new { idSostav = @Model.ID, cars = 1 }
    , new AjaxOptions
    {
        Url = Url.Action("DetaliSostavOperation",
        new { idSostav = @Model.ID, cars = 1 }),
        OnSuccess = "detaliSostavOperation",
        LoadingElementDuration = 1000,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
    }
    , new { @id = "a-select-cars", @href = "#", @class = @ViewBag.cars == 1 ? "selected" : "" })

    @Ajax.ActionLink(@MTResource.mt_link_amkr_arival
    , "DetaliSostavOperation"
    , new { idSostav = @Model.ID, cars = 2 }
    , new AjaxOptions
    {
        Url = Url.Action("DetaliSostavOperation",
        new { idSostav = @Model.ID, cars = 2 }),
        OnSuccess = "detaliSostavOperation",
        LoadingElementDuration = 1000,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
    }
    , new { @id = "a-select-cars", @href = "#", @class = @ViewBag.cars == 2 ? "selected" : "" })

    @Ajax.ActionLink(@MTResource.mt_link_amkr_not_arival
    , "DetaliSostavOperation"
    , new { idSostav = @Model.ID, cars = 3 }
    , new AjaxOptions
    {
        Url = Url.Action("DetaliSostavOperation",
        new { idSostav = @Model.ID, cars = 3 }),
        OnSuccess = "detaliSostavOperation",
        LoadingElementDuration = 1000,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
    }
    , new { @id = "a-select-cars", @href = "#", @class = @ViewBag.cars == 3 ? "selected" : "" })
</div>
<table class="table" id="sostav-arrival">
    <tr>
        <th>@MTResource.mt_report_field_index:</th>
        <td>
            @*@if (@Html.IsApproachesSostavOfIndex(@Model.CompositionIndex))
            {
                @Html.RouteLink(Model.CompositionIndex.ToString(),
                     new { controller = "MTApproaches", action = "ListIndex", index = (string)@Model.CompositionIndex },
                          new { @onclick = "LockScreen('" + @GlobalResources.lock_text + "');", @title = @MTResource.link_title_go_approaches_index });
            }
            else
            { @Model.CompositionIndex }*@
            @Model.CompositionIndex
        </td>
        <th>@MTResource.mt_report_field_code_station_from:</th>
        <td>@Html.GetMTStationFromOfIndex((string)@Model.CompositionIndex)</td>
        <th>@MTResource.mt_report_field_code_station_on:</th>
        <td>@Html.GetMTStationOnOfIndex(@Model.CompositionIndex)</td>
    </tr>
    <tr>
        <th>@MTResource.mt_report_field_date_operation:</th>
        <td>@Model.DateTime - @Html.GetMTOperations(Model.Operation)</td>
        <th>@MTResource.mt_report_field_num_train:</th>
        <td>@Html.GetMTArrivalTrain(Model.ID)</td>
        <th>@MTResource.mt_report_field_countvag_countamkr:</th>
        <td>@Model.ArrivalCars.ToList().Count() (@Html.GetCountMTArrivalCarsAMKR(Model.ID, EFMT.Concrete.mtConsignee.AMKR))</td>
    </tr>
    <tr>
        <th>@MTResource.mt_report_field_xml_file:</th>
        <td>@Model.FileName</td>
        <th>@MTResource.mt_report_field_create:</th>
        <td>@Model.Create</td>
        <th>@MTResource.mt_report_field_close:</th>
        <td>@Model.Close</td>
    </tr>
</table>
<table class="table" id="cars-arrival">
    <thead>
        <tr>
            <th>
                @MTResource.mt_report_field_npp
            </th>
            <th>
                @MTResource.mt_report_field_num_wag
            </th>
            <th>
                @MTResource.mt_report_field_country
            </th>
            <th>
                @MTResource.mt_report_field_weight
            </th>
            <th>
                @MTResource.mt_report_field_cargo_code
            </th>
            <th>
                @MTResource.mt_report_field_code_station_on
            </th>
            <th>
                @MTResource.mt_report_field_consignee
            </th>
            <th>
                @MTResource.mt_report_field_doc_arrival
            </th>
            <th>
                @MTResource.mt_report_field_data_arrival
            </th>
            <th>
                @MTResource.mt_report_field_data_user_name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ArrivalCars cars in Model.ArrivalCars.ToList())
        {
            if (@ViewBag.cars == 0 || 
                (@ViewBag.cars == 1 & cars.Consignee.IsConsigneeAMKR()) || 
                (@ViewBag.cars == 2 & cars.Consignee.IsConsigneeAMKR() & cars.NumDocArrival>0) || 
                (@ViewBag.cars == 3 & cars.Consignee.IsConsigneeAMKR() & cars.NumDocArrival == null) ) {
            <tr class='@Html.GetStatusMTArrivalCars(@cars.Consignee, @cars.NumDocArrival)'>
                <td>
                    @cars.Position
                </td>
                <td>
                    @cars.Num
                </td>
                <td>
                    @Html.GetReferenceCountryOfCountryCode(@cars.CountryCode)
                </td>
                <td>
                    @cars.Weight
                </td>
                <td>
                    @Html.GetReferenceCargoOfCode(@cars.CargoCode)
                </td>
                <td>
                    @Html.GetReferenceStationsOfCodecs(@cars.StationCode)
                </td>
                <td>
                    @Html.GetMTConsignee(@cars.Consignee) (@Html.DisplayFor(modelItem => @cars.Consignee))
                </td>
                <td>
                    @if (@cars.NumDocArrival == null || @cars.NumDocArrival > 0)
                    {
                        if (@cars.NumDocArrival == null & cars.Consignee.IsConsigneeAMKR())
                        { <input id="manual-arrival" type="button" value='@GlobalResources.button_title_close' />}
                        else
                        { @cars.NumDocArrival}
                    }
                    else
                    {
                        @Html.GetMTNumDocArrival((int)@cars.NumDocArrival)
                    }
                </td>
                <td>
                    @cars.Arrival
                </td>
                <td>
                    @cars.UserName
                </td>
            </tr>
            }
        }
    </tbody>
</table>
