@using Web_RailWay.App_LocalResources;
@{
    ViewBag.Title = @MTResource.index_title;
    ViewBag.ImageFone = "background-image: url(Image/header.jpg);";
    ViewBag.Home = @MTResource.index_title;
}
@section Document {

}

@section Admin {

    @*@{ Html.RenderAction("LinkMTControl", "Admin"); }*@
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@MTResource.index_description</p>
    <p><a href="http://metrans.com.ua/" class="btn btn-primary btn-lg">@MTResource.link_goto_mt &raquo;</a></p>
</div>

<div class="content">
    <ul class="ca-menu">
        <li>
            <a href='@Url.Action("Index", "MTApproaches")'>
                <span class="ca-icon">I</span>
                <div class="ca-content">
                    <h2 class="ca-main">@MTResource.index_report_approaches_title</h2>
                    <h3 class="ca-sub">@MTResource.index_report_approaches_desc</h3>
                </div>
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index", "MTArrival")'>
                <span class="ca-icon">K</span>
                <div class="ca-content">
                    <h2 class="ca-main">@MTResource.index_report_arrival_title</h2>
                    <h3 class="ca-sub">@MTResource.index_report_arrival_desc</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="ca-icon">H</span>
                <div class="ca-content">
                    <h2 class="ca-main">@MTResource.index_report_cars_amkr_title</h2>
                    <h3 class="ca-sub">@MTResource.index_report_cars_amkr_desc</h3>
                </div>
            </a>
        </li>
    </ul>
</div>

